<div class="container">
  <div class="row">
    <div class="col">
      <div clas="col-6 offset-3">
        <h3>ログイン</h3>

        <h6>会員の方はこちらからログイン</h6>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="filed my-2">
            <%= f.label :"メールアドレス" %>
            <%= f.email_field :email, autofocus: true, placeholder:"sample@example.com", autocomplete: "email" %>
          </div>

          <div class="filed my-2">
            <%= f.label :"パスワード" %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>


          <%= f.submit "ログイン", class: "btn btn-primary" %>
          <% end %>

          <div>
            <h6>会員登録がお済みでない方</h6>
            <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
          </div>
      </div>
    </div>
  </div>
</div>