<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1>商品一覧</h1>
    </div>

    <div class="col-md-2">
      <h4>(全 <%= @all_items.count %>件)</h4>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
        <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
          <%= link_to item_path(item.id) do %>
            <p>
              <% if item.image.attached? %>
                <%= image_tag item.image, size: "180x130" %>
              <% else %>
                <%= image_tag 'no_image', size: "180x130" %>
              <% end %>
            </p>
          <% end %>
          <div class="card-body">
            <p class="item-details item-name card-text"><%= item.name %></p>
            <% if item.is_active == true %>
              <p>¥<%= (item.price * 1.1).to_i.to_s(:delimited, delimiter: ',') %></p>
            <% else %>
              <p>売り切れ</p>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate(@items) %>
</div>